[Unit]
Description=Disable CPU Turbo Boost
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
# 啟動服務後，執行的指令
ExecStartPre=/bin/sh -c '[ -x /home/icekimo/gitWrk/lazypowershell/systemd/DisableCPUTurbo.sh ]'
ExecStart=/home/icekimo/gitWrk/lazypowershell/systemd/DisableCPUTurbo.sh disable
# 停止服務後，執行的指令
ExecStop=/home/icekimo/gitWrk/lazypowershell/systemd/DisableCPUTurbo.sh enable
# 服務終止時自動重新啟動
Restart=on-abort

[Install]
WantedBy=multi-user.target